@using Airbnb.Models.PropertySubModels
@model Space
@{
    Layout = null;
}
<h2>Add new Space</h2>

<form asp-controller="Admin" asp-action="AddSpace">

    <table class="table table-responsive table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control" type="text" asp-for="Name" /> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1"><button id="addbtn" style="width:100%" type="submit" class="btn btn-success" disabled>Add</button></td>
                <td colspan="1">
                    <button style="width:100%" type="button" onclick="getAllSpaces()" class="btn btn-danger">Cancel</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
<script src="~/js/add-btn.js"></script>