

<h2>Change Site Logo</h2>
<div class="flex-xl-row-reverse">
    <div style="margin:auto;" class="col-xl-5 col-md-12">
        <div class="Logo-container">
            <div class="top-row row">
                <img src="~/SVG/airbnb-logo.svg">
            </div>
        </div>
    </div>
    <div style="margin:15px auto;" class="col-xl-5 col-md-12">
        <div class="Logo-container ">
            <form class="row" style="justify-content: space-between;">
                <input type="file">
                <button class="btn btn-success">Upload</button>
            </form>
        </div>
    </div>
</div>