@using Airbnb.Models.PropertySubModels
@model IEnumerable<GuestRequirement>
    
<h2>All Guest Requirments</h2>

    <table class="table table-responsive table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var requirment in Model)
            {
                <tr>
                    <th scope="row"> @requirment.Id</th>
                    <td> @requirment.Name</td>
                    <td><a asp-action="deleteGuestRequirment" onclick="return confirm('Are you sure ?')" asp-controller="Admin" asp-route-id=" @requirment.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button onclick="AddGuestRequirment()" class="btn btn-success" id="add-new-amenity">Add new one</button>
                </td>
            </tr>
        </tfoot>
    </table>
