@model LoginViewModel

    <!--start register content-->
    <div class="signup-pane">
        <form asp-action="Login" asp-controller="Account" method="post" data-ajax="true" data-ajax-update="#modal-render-body"
              data-ajax-success="$('#RegisterModal').modal('show');$('.modal-title').text('Sign In');">

            @Html.ValidationSummary(true)
            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]?.ToString()" />

            <div class="column-container">
                <input type="text" asp-for="Email" placeholder="Email">
                <span class="badge badge-danger" asp-validation-for="Email"></span>
            </div>
            <div class="column-container">
                <input type="password" asp-for="Password" placeholder="Password">
                <span class="badge badge-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
            </div>
            <div class="signup-btn-container">
                <button class="btn-glow">
                    <span class="glow">
                        Continue
                    </span>
                    Continue
                </button>
            </div>
            <div class="first-page">
                <div style="text-align: center;">or</div>
                <div class="social-btns-container">

                    <div class="btn-container">
                        <a asp-action="SocialRegister" asp-controller="Account" data-ajax="true"
                           data-ajax-update="#modal-render-body"
                           class="btn-link">Continue with social accounts</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
