
<section>
    <div class="_d5tvwc" data-testid="modal-container">
        <div role="dialog" aria-label="Log in" class="_my6j2s" style="position: relative;">
            <div class="_zpjce3">
                <button aria-label="Close" type="button" class="_187sg6v">
                    <span class="_e296pg">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                            <path d="m6 6 20 20"></path>
                            <path d="m26 6-20 20"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <header class="_1youxq0">
                <div class="_19gswie"></div>
                <div class="_1dllel0">
                    <h1 tabindex="-1" class="_14i3z6h">
                        <div class="_1q9sh65">Log in</div>
                    </h1>
                </div>
                <div class="_1r8c9u5"></div>
            </header>
            <div tabindex="0" class="_12kfhdn">
                <div data-testid="login-pane">
                    <form action="/authenticate" method="POST" novalidate="" data-testid="auth-form">
                        <input type="hidden" name="authenticity_token" value="V4$.airbnb.com$b_lFEluExHU$pc4hOkveaxe5uvhk3ZLVYxisfQNLS_j6mgJiSXRr6Fc="><input type="hidden" name="from" value="email_login"><input type="hidden" name="airlock_id" value="">
                        <div class="_poaz3m" style="border-radius: 8px;">
                            <div class="_jro6t0">
                                <div class="_e296pg" style="flex: 1 1 0%;">
                                    <div class="_sbmagf" style="background: none; border-radius: 8px 8px 0px 0px; inset: 0px 0px -1px;"></div>
                                    <div class="_1y2kg88">
                                        <label class="_d1user" for="email">
                                            <div class="_5crnkp">
                                                <div class="_11hx67x">Email</div>
                                            </div>
                                            <div dir="ltr">
                                                <div class="_js9i23"><input name="email" data-testid="login-signup-email" class="_1vf8o5y" id="email" autocomplete="email" type="email" aria-describedby="email-login-email__error" value=""></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="_t26glb" style="inset: 0px 0px -1px; border-radius: 8px 8px 0px 0px; border-color: rgb(176, 176, 176); border-width: 1px; z-index: 0;"></div>
                                </div>
                            </div>
                            <div class="_jro6t0">
                                <div class="_e296pg" style="flex: 1 1 0%;">
                                    <div class="_sbmagf" style="background: none; border-radius: 0px 0px 8px 8px; inset: 0px 0px -1px;"></div>
                                    <div class="_1y2kg88">
                                        <label class="_d1user" for="password">
                                            <div class="_5crnkp">
                                                <div class="_11hx67x">Password</div>
                                            </div>
                                            <div dir="ltr">
                                                <div class="_js9i23"><input name="password" autocapitalize="none" spellcheck="false" data-testid="login-signup-password" class="_1vf8o5y" id="password" autocomplete="current-password" type="password" aria-describedby="email-login-password__error" value=""></div>
                                            </div>
                                        </label>
                                        <div class="_9qtedr">
                                            <div class="_slm4k1"><button type="button" class="_ejra3kg">Show</button></div>
                                        </div>
                                    </div>
                                    <div class="_t26glb" style="inset: 0px 0px -1px; border-radius: 0px 0px 8px 8px; border-color: rgb(176, 176, 176); border-width: 1px; z-index: 0;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="airlock-inline-container"></div>
                        <div class="_wfo3ii"><button data-testid="signup-login-submit-btn" type="submit" class="_67e5n4c" data-veloute="submit-btn-cypress"><span class="_163rr5i"><span class="_m9v25n" style="background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); --mouse-x:98.0603; --mouse-y:43.3589;"></span></span><span class="_tcp689">Log in </span></button></div>
                        <button data-testid="forgot-password-link" type="button" class="_ejra3kg">Forgot password?</button>
                    </form>
                    <div class="_itzf0z"><button type="button" class="_ejra3kg">More login options</button></div>
                    <div class="_1o20pie">
                        <div class="_14tkmhr">Don’t have an account?</div>
                        <button data-testid="switch-to-signup" type="button" class="_ejra3kg">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>