@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/ListingLayout.cshtml";
}
<div id="5" style="display:flex">
    <div class="col col-12 col-md-7">

        <div class="ContainAmenties col col-11">

            <div class="ContainAllAmenty">
                <div style="padding-bottom: 30px;">
                    <div class="ContainQuestion">What amenities do you offer?</div>
                    <div class="QuestionDescription">
                        These are just the amenities guests usually expect,
                        but you can add even more after you publish
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Essentials</span><br>
                        <span class="AmentyDecription">Towels, bed sheets, soap, toilet paper, and pillows</span>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;padding: 0 !important;">
                        <span class="AmentyName">Cooking basics</span><br>
                        <span class="AmentyDecription">Opts and pans, oil, slat and pepper</span>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex; padding: 20px 0px;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Desk/workspace</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Iron</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Hair dryer</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Shampoo</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Hangers</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">TV</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Heating</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Pack 'n Play/travel crib</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Wifi</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Breakefast,coffe,tea</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Air conditioning</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Fireplace</span><br>
                    </div>
                </div>
                <div class="ContainOneAmenty" style="display: flex;">
                    <div class="ContainCheckBox">
                        <input type="checkbox">
                    </div>
                    <div style="margin-left: 15px;">
                        <span class="AmentyName">Private entrance</span><br>
                    </div>
                </div>

                <div class="ContainAllAmenty" style="margin-bottom: 100px;">
                    <div style="padding-bottom: 30px;">
                        <div class="ContainQuestion">Safety amenities</div>
                    </div>
                    <div class="ContainOneAmenty" style="display: flex;">
                        <div class="ContainCheckBox">
                            <input type="checkbox">
                        </div>
                        <div style="margin-left: 15px;padding: 0 !important;">
                            <span class="AmentyName">Smoke detector</span><br>
                            <span class="AmentyDecription">
                                Check your local laws, which may require
                                a working smoke detector in every room
                            </span>
                        </div>
                    </div>
                    <div class="ContainOneAmenty" style="display: flex;">
                        <div class="ContainCheckBox">
                            <input type="checkbox">
                        </div>
                        <div style="margin-left: 15px;padding: 0 !important;">
                            <span class="AmentyName">Carbon monoxide detector</span><br>
                            <span class="AmentyDecription">
                                Check your local laws, which may require
                                a working carbon monoxide detector in every room
                            </span>
                        </div>
                    </div>
                    <div class="ContainOneAmenty" style="display: flex;">
                        <div class="ContainCheckBox">
                            <input type="checkbox">
                        </div>
                        <div style="margin-left: 15px;padding: 0 !important;">
                            <span class="AmentyName">First aid kit</span><br>
                        </div>
                    </div>
                    <div class="ContainOneAmenty" style="display: flex;">
                        <div class="ContainCheckBox">
                            <input type="checkbox">
                        </div>
                        <div style="margin-left: 15px;padding: 0 !important;">
                            <span class="AmentyName">Fire extinguisher</span><br>
                        </div>
                    </div>
                    <div class="ContainOneAmenty" style="display: flex;">
                        <div class="ContainCheckBox">
                            <input type="checkbox">
                        </div>
                        <div style="margin-left: 15px;padding: 0 !important;">
                            <span class="AmentyName">Lock on bedroom door</span><br>
                            <span class="AmentyDecription">Private room can be locked for safety and privacy</span>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="col col-md-5 d-none d-md-block ContainRightDiv">

    </div>
</div>