@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/ListingLayout.cshtml";

}
<div id="7" style="display:flex">
    <div class="col col-12 col-md-7">

        <div class="ContainPropertyType col col-11">
            <div>
                <div class="ContainDescription" style="margin-right: 5%;">
                    <div style="padding-bottom: 30px;">
                        <div class="ContainQuestion" style="max-width:500px">Describe your place to guests</div>
                        <div class="QuestionDescription" style="max-width:500px">
                            Mention the best features of your space, any special amenities like fast wifi or parking,
                            and what you love about the neighborhood.
                        </div>
                    </div>
                    <div class="ContainTextArea m-1">
                        <textarea style="width: 100%;">

                        </textarea>
                    </div>

                    <div class="ContainTipsInSmall d-block d-md-none">
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="display: block; height: 32px; width: 32px; fill: currentcolor;">
                            <path d="M24.6666 11.1332V11.5332C24.5999 14.3332 22.9333 17.0665 19.5333 19.7998L19.3333 19.9998H12.6666L12.3999 19.7998C8.99994 17.0665 7.33327 14.3332 7.2666 11.5332V11.1332C7.4666 6.4665 11.2666 2.6665 15.9999 2.6665C20.7333 2.6665 24.5999 6.4665 24.6666 11.1332Z"
                                  fill="#64DEE2"></path>
                            <path d="M27.3334 11.3333C27.3334 5.06667 22.2667 0 16.0001 0C9.73342 0 4.66675 5.06667 4.66675 11.3333C4.66675 15.2667 6.93341 18.9333 11.3334 22.3333V29.3333C11.3334 30.0667 11.9334 30.6667 12.6667 30.6667H15.3334V32H16.6667V30.6667H19.3334C20.0667 30.6667 20.6667 30.0667 20.6667 29.3333V22.3333C25.0667 18.9333 27.3334 15.2667 27.3334 11.3333ZM19.3334 29.3333H12.6667V26.6667H19.3334V29.3333ZM19.3334 25.3333H12.6667V22.6667H19.3334V25.3333ZM17.3334 21.3333H14.6667V11.3333C14.6667 10.6 15.2667 10 16.0001 10C16.7334 10 17.3334 10.6 17.3334 11.3333V21.3333ZM19.8001 21.3333H18.6667V11.3333C18.6667 9.86667 17.4667 8.66667 16.0001 8.66667C14.5334 8.66667 13.3334 9.86667 13.3334 11.3333V21.3333H12.2001C8.06675 18.2 6.00008 14.8 6.00008 11.3333C6.00008 5.8 10.4667 1.33333 16.0001 1.33333C21.5334 1.33333 26.0001 5.8 26.0001 11.3333C26.0001 14.8 23.9334 18.2 19.8001 21.3333Z"
                                  fill="#222222"></path>
                        </svg>
                    </div>

                    

                </div>
            </div>
        </div>

        <!-- div will show after Select -->
        <div>
            <div class="TipsInMobile" style="position: relative;z-index:2000;background-color: white;border-radius: 5px;padding: 20px;padding-bottom: 30px; display: table;width: 85%;bottom: 90px;right: 20px;position: fixed;">
                <div style="margin-bottom: 20px;">
                    <div style="display: table-cell;vertical-align: middle;">
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="display: block; height: 32px; width: 32px; fill: currentcolor;">
                            <path d="M24.6666 11.1332V11.5332C24.5999 14.3332 22.9333 17.0665 19.5333 19.7998L19.3333 19.9998H12.6666L12.3999 19.7998C8.99994 17.0665 7.33327 14.3332 7.2666 11.5332V11.1332C7.4666 6.4665 11.2666 2.6665 15.9999 2.6665C20.7333 2.6665 24.5999 6.4665 24.6666 11.1332Z"
                                  fill="#64DEE2"></path>
                            <path d="M27.3334 11.3333C27.3334 5.06667 22.2667 0 16.0001 0C9.73342 0 4.66675 5.06667 4.66675 11.3333C4.66675 15.2667 6.93341 18.9333 11.3334 22.3333V29.3333C11.3334 30.0667 11.9334 30.6667 12.6667 30.6667H15.3334V32H16.6667V30.6667H19.3334C20.0667 30.6667 20.6667 30.0667 20.6667 29.3333V22.3333C25.0667 18.9333 27.3334 15.2667 27.3334 11.3333ZM19.3334 29.3333H12.6667V26.6667H19.3334V29.3333ZM19.3334 25.3333H12.6667V22.6667H19.3334V25.3333ZM17.3334 21.3333H14.6667V11.3333C14.6667 10.6 15.2667 10 16.0001 10C16.7334 10 17.3334 10.6 17.3334 11.3333V21.3333ZM19.8001 21.3333H18.6667V11.3333C18.6667 9.86667 17.4667 8.66667 16.0001 8.66667C14.5334 8.66667 13.3334 9.86667 13.3334 11.3333V21.3333H12.2001C8.06675 18.2 6.00008 14.8 6.00008 11.3333C6.00008 5.8 10.4667 1.33333 16.0001 1.33333C21.5334 1.33333 26.0001 5.8 26.0001 11.3333C26.0001 14.8 23.9334 18.2 19.8001 21.3333Z"
                                  fill="#222222"></path>
                        </svg>
                    </div>
                    <div style="width:100%;display: table-cell; vertical-align: middle;"></div>

                    <div style="display: table-cell;vertical-align: middle;">
                        <button type="button" class="close" aria-label="Close" style="background: none;border: none;font-size: 35px;font-weight: lighter;color:gray;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="TipTitle">Choosing listing categories</div>
                    <div class="DescriptionTip">
                        Selecting accurate categories helps guests know what to expect when it comes to the privacy,
                        style, and level of service they'll receive during their stay at your place.
                    </div>
                </div>

            </div>


        </div>




    </div>
    <div class="col col-md-5 d-none d-md-block ContainRightDiv">
        <div class="TipsInFullScreen">

            <div>
                <div style="width: 0px !important;
                    height: 0px !important;
                    border-top: 12px solid rgba(0, 0, 0, 0) !important;
                    border-bottom: 12px solid rgba(0, 0, 0, 0) !important;
                    border-right: 12px solid rgb(221, 221, 221) !important;
                    position: relative !important;
                    top: 150px !important;
                    right: 42px !important;">
                    <div style="position: relative !important;
                        top: -11px !important;
                        left: 1px !important;
                        width: 0px !important;
                        height: 0px !important;
                        border-top: 11px solid rgba(0, 0, 0, 0) !important;
                        border-bottom: 11px solid rgba(0, 0, 0, 0) !important;
                        border-right: 11px solid rgb(255, 255, 255) !important;"></div>
                </div>
                <div class="TipTitle">Get inspiration from top-rated listings on Airbnb</div>
                <div style="margin-top:20px;margin-bottom: 20px;">
                    <div class="lineInTip"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="ContainImgInTip">
                        <img class="_9ofhsl" aria-hidden="true" alt="cover-photo"
                             src="https://a0.muscache.com/im/pictures/710995b5-2bee-4a47-8201-a0e5e57b9ad7.jpg?aki_policy=x_small"
                             data-original-uri="https://a0.muscache.com/im/pictures/710995b5-2bee-4a47-8201-a0e5e57b9ad7.jpg?aki_policy=x_small"
                             style="object-fit: cover; vertical-align: bottom; border-radius: 4px;">
                    </div>
                    <div class="PlaceLocationTip">
                        <span>
                            Alexanderia , Alexandria Governorate<br>
                            Entire house · 3 bedrooms<br>
                            <span>
                                <svg viewBox="0 0 1000 1000" role="img" aria-hidden="false" aria-label="rating out of 5" focusable="false" style="height: 11px; width: 11px; fill: rgb(255, 56, 92);"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"></path></svg>
                            </span>

                            4.20/5
                        </span>
                    </div>
                </div>
                <div class="DescriptionTip">
                    "Situated in King Mariut quiet and safe resort just 15min from Airport and 25min from downtown.
                    Fully furnished villa with 3 bedrooms, 3 bathrooms,
                    dining & living rooms a private pool and a cozy garden.
                    All that a family needs for a remarkable stay."
                </div>
            </div>

        </div>

    </div>
</div>
@section  Scripts{

    <script>
        var NumberOfBathrooms = 0
        $(function () {
            $('.TipsInMobile').css('display', 'none')
            $('#bgmodal').css('display','none')

        })
        $('.ContainTipsInSmall').click(function(){
            $('.TipsInMobile').css('display', 'block')
            $('#bgmodal').css('display','block')
        })
        $('.close').click(function(){
            $('.TipsInMobile').css('display', 'none')
            $('#bgmodal').css('display','none')
        })

    </script>
} 