@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/ListingLayout.cshtml";

}
@model ListingViewModel
<div id="10" style="display:flex">
    <div class="col col-12 col-md-7">

        <div class="ContainPropertyType col col-11" style="margin-left:0px !important">

            <div class="ContainAllRules col col-11 col-xl-8" style="margin-right:5%">
                <div style="padding-bottom: 30px;">
                    <div class="ContainQuestion">Set house rules for your guests</div>
                    <div class="QuestionDescription" style="margin-right:5%;max-width:550px">
                        Guests must agree to your house rules
                        before they book.
                    </div>
                </div>
                <div style="max-width: 550px;min-width: 380px;"></div>
                <div>
                    @for (var item = 0; item < Model.houseRoles.Count; item++)
                    {
                        <div class="ContainOneRole">

                            <div class="RuleName" style="max-width:550px;font-size:20px !important">
                                @Html.DisplayFor(x=>x.houseRoles[item].Name)
                            </div>
                            <div class="ContainTrueFalse" style="padding-left: 15%;display: flex;margin-right: 10px !important;">
                                <div style="position:absolute;right:0;display:flex">
                                <div class="False">
                                    <input class="_1wrrwzb" type="checkbox"
                                           value="false" style="display:none">
                                    <label Class="FalseLabel">
                                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                             role="presentation" focusable="false"
                                             style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                                            <path d="m6 6 20 20"></path>
                                            <path d="m26 6-20 20"></path>
                                        </svg>
                                    </label>
                                </div>
                                <div class="True" style="margin-left: 15px;">
                                    <input name="IsHouseRoleChecked" type="checkbox" value="@Model.houseRoles[item].Id" style="display:none">

                                    @*@Html.RadioButtonFor(x => x.IsHouseRoleChecked[item], Model.houseRoles[item].Id)*@
                                    <label class="TrueLabel">
                                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                             role="presentation" focusable="false"
                                             style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                                            <path fill="none" d="m4 16.5 8 8 16-16"></path>
                                        </svg>
                                    </label>
                                </div>
                                    </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
        <!-- div will show after Select -->
    </div>
    <div class="col col-md-5 d-none d-md-block ContainRightDiv">

    </div>
</div>
@section Scripts {
<script>
   
    $('.ContainTrueFalse').mousedown(function (e) {
        var True = $(this).find('.True')[0]
        var False = $(this).find('.False')[0]
        $(True).click(function () {
            if ($(True).find('input')[0].value != "false") {
                $(True).find('input').attr('checked', 'checked')
                $(True).find('label')[0].classList.add('SelectedLabel')
                $(True).find('svg')[0].classList.add('SelectedLabel')
                $(False).find('label')[0].classList.remove('SelectedLabel')
                $(False).find('svg')[0].classList.remove('SelectedLabel')
            }
        })

        $(False).click(function () {
            if ($(False).find('input')[0].value == "false") {
                $(False).find('input').attr('checked', 'checked')
                $(True).find('input').removeAttr('checked', 'checked')

                $(False).find('label')[0].classList.add('SelectedLabel')
                $(False).find('svg')[0].classList.add('SelectedLabel')
                $(True).find('label')[0].classList.remove('SelectedLabel')
                $(True).find('svg')[0].classList.remove('SelectedLabel')

            }
        })


        // else if($(this).find('input')[0].value == "true"){
        //     $(this).find('input')[0].value=false
        //     $(this).find('label')[0].classList.remove('SelectedLabel')
        //     $(this).find('svg')[0].classList.remove('SelectedLabel')
        // }

    })
        // $('.ContainTrueFalse').click(function () {
        //     var True=$(this).find('.True')[0]
        //     var False=$(this).find('.False')[0]
        //     if ($(False).find('input')[0].value == "false") {
        //         $(False).find('input')[0].value = true
        //         $(False).find('label')[0].classList.add('SelectedLabel')
        //         $(False).find('svg')[0].classList.add('SelectedLabel')
        //         $(True).find('input')[0].value = false
        //         $(True).find('label')[0].classList.remove('SelectedLabel')
        //         $(True).find('svg')[0].classList.remove('SelectedLabel')

        //     }
        //     // else if($(this).find('input')[0].value == "true"){
        //     //     $(this).find('input')[0].value=false
        //     //     $(this).find('label')[0].classList.remove('SelectedLabel')
        //     //     $(this).find('svg')[0].classList.remove('SelectedLabel')
        //     // }

        // })
    </script>
}