@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="16">
    <div class="wrapper">
        <div class="contaiinleft col col-lg-7">
            <div class="question">
                How far in advance can guests book?
            </div>
            <div class="answers">
                <label class="container">Any time
                    <input type="radio" checked="checked" name="ans">
                    <span class="checkmark"></span>
                </label>
                <label class="container">3 months in advance
                    <input type="radio" name="ans">
                    <span class="checkmark"></span>
                </label>
                <label class="container">6 months in advance
                    <input type="radio" checked="checked" name="ans">
                    <span class="checkmark"></span>
                </label>
                <label class="container">9 months in advance
                    <input type="radio" name="ans">
                    <span class="checkmark"></span>
                </label><label class="container">1 year
                    <input type="radio" checked="checked" name="ans">
                    <span class="checkmark"></span>
                </label>
            </label><label class="container">Dates unavailable by default
                <div class="calendartip">Your entire calendar will be blocked by default, which means you’ll have to manually unblock dates to get booked.</div>
                <input type="radio" checked="checked" name="ans">
                <span class="checkmark"></span>
            </label>
            </div>
            <div class="tip">
                <span class="text-kazan">Tip:</span>
                Most hosts can keep their calendars updated up to to 3 months out
            </div>
        </div><br>

        <div class="contaiinright col col-md-5 d-none d-md-block col-lg-5"></div>
    </div>
    </div>
