@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="12" class="Tipcontainer">
    <div class="HeaderTip">
        Here’s how guests will book with you
    </div>
    <div class="ContainAllWrapper">

        <div class="Tipwrapper">
            <div class="ContainImgTip" style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/scenarios-meet-guest-eaa389217c2acc8887e3f88cc197f9fe.png);">
            </div>
            <div class="ULTip">
                1. Qualified guests find your listing
            </div>
            <div class="DescripeTip">
                Anyone who wants to book with you needs to confirm their contact information, provide payment details, and tell you about their trip.
            </div>
        </div>
        <div class="Tipwrapper">
            <div class="ContainImgTip" style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/ib_settings-0c6e8137f5559822d30e7af88f9d675a.png);">
            </div>
            <div class="ULTip">
                2. You set controls for who can book
            </div>
            <div class="DescripeTip">
                To book available dates without having to send a request, guests must agree to your rules and meet all the requirements you set.
            </div>
        </div>
        <div class="Tipwrapper">
            <div class="ContainImgTip" style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/IB-only-message-illo-66933bcd7dfc0f2172c6a819cf92619e.png);">
            </div>
            <div class="ULTip">
                3. Once a guest books, you get notified
            </div>
            <div class="DescripeTip">
                You’ll immediately get a confirmation email with information like why they’re coming, when they’re arriving, and who they’re coming with.
            </div>
        </div>
    </div>
</div>
