@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="17">
    <div class="wrapper">
        <div class="ContainLeftPart col col-lg-7">
            <div class="question">
                How long can guests stay?
                <div class="questiontip">
                    Shorter trips can mean more reservations, but you'll turn over your space more often.
                </div>
            </div>
            <div class="minNights">
                <div class="input-group">
                    <input type="text" class="form-control" id="min" placeholder="Min"
                           aria-label="Recipient's username" aria-describedby="basic-addon2" disabled
                           style="background-color: white;">
                    <div class="input-group-append">
                        <span class="v2"></span>
                        <button class="btn" type="button" id="minnightsminus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-dash-lg" viewBox="0 0 16 16">
                                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                            </svg>
                        </button>
                        <span class="vl"></span>
                        <button class="btn" type="button" id="minnightsplus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="maxNights">
                <div class="input-group">
                    <input type="text" class="form-control" id="max" placeholder="Max"
                           aria-label="Recipient's username" aria-describedby="basic-addon2" disabled
                           style="background-color: white;">
                    <div class="input-group-append">
                        <span class="v2"></span>
                        <button class="btn" type="button" id="maxnightsminus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-dash-lg" viewBox="0 0 16 16">
                                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                            </svg>
                        </button>
                        <span class="vl"></span>
                        <button class="btn btn" type="button" id="maxnightsplus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div><br>

        <div class="ContainRightPart col col-md-5 d-none d-md-block col-lg-5"></div>
    </div>
</div>

