@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/ListingLayout.cshtml";
}
@model ListingViewModel

    <div id="2" style="display:flex;">
        <div class="col col-12 col-md-7">
            <div class="ContainNumberGuests">
                <div class="HMGuestsNumbers">How many guests can your place accommodate?</div>
            </div>
            <div class="ContainBedsNote">
                <div class="BedsNote">
                    Check that you have enough beds to accommodate all your guests
                    comfortably.
                </div>
                <div class="ContainSelect">
                    <div class="GuestsNumber">
                        <span>Guests</span>
                        <svg class="SvgMinus" viewBox="0 0 24 24" role="img" aria-hidden="false" aria-label="subtract"
                             focusable="false">
                            <rect height="2" rx="1" width="12" x="6" y="11" ;></rect>
                        </svg>
                        <span style="padding-left: 30px;"> 3</span>
                        <svg class="SvgPlus" viewBox="0 0 24 24" role="img" aria-hidden="false" aria-label="add"
                             focusable="false">
                            <rect height="2" rx="1" width="12" x="6" y="11"></rect>
                            <rect height="12" rx="1" width="2" x="11" y="6"></rect>
                        </svg>
                    </div>
                    <div class="ContainBedrooms">
                        <div style="margin-bottom: 32px;">
                            <label for="bedroom-select" class="HMBedrooms">
                                How many bedrooms can guests
                                Use?
                            </label>
                            <div class="ContainOptionsList">
                                <div class="BedroomsList">
                                    <div class="select-block select-jumbo">
                                        <div>
                                            <div class="_h">
                                                <div class="_v">
                                                    <svg viewBox="0 0 32 32"
                                                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                         role="presentation" focusable="false"
                                                         style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                                                        <g fill="none">
                                                            <path d="m28 12-11.2928932 11.2928932c-.3905243.3905243-1.0236893.3905243-1.4142136 0l-11.2928932-11.2928932">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </div><label class="_13" for="bedroom-select">
                                                    <div class="_3">
                                                        <select name="bedrooms" aria-label="Select one"
                                                                class="_1" id="bedroom-select">
                                                            <option value="1">1 bedroom</option>
                                                            <option value="2">2 bedrooms</option>
                                                            <option value="3">3 bedrooms</option>
                                                            <option value="4">4 bedrooms</option>
                                                            <option value="5">5 bedrooms</option>
                                                            <option value="6">6 bedrooms</option>
                                                            <option value="7">7 bedrooms</option>
                                                            <option value="8">8 bedrooms</option>
                                                            <option value="9">9 bedrooms</option>
                                                            <option value="10">10 bedrooms</option>
                                                            <option value="11">11 bedrooms</option>
                                                            <option value="12">12 bedrooms</option>
                                                            <option value="13">13 bedrooms</option>
                                                            <option value="14">14 bedrooms</option>
                                                            <option value="15">15 bedrooms</option>
                                                            <option value="16">16 bedrooms</option>
                                                            <option value="17">17 bedrooms</option>
                                                            <option value="18">18 bedrooms</option>
                                                            <option value="19">19 bedrooms</option>
                                                            <option value="20">20 bedrooms</option>
                                                            <option value="21">21 bedrooms</option>
                                                            <option value="22">22 bedrooms</option>
                                                            <option value="23">23 bedrooms</option>
                                                            <option value="24">24 bedrooms</option>
                                                            <option value="25">25 bedrooms</option>
                                                            <option value="26">26 bedrooms</option>
                                                            <option value="27">27 bedrooms</option>
                                                            <option value="28">28 bedrooms</option>
                                                            <option value="29">29 bedrooms</option>
                                                            <option value="30">30 bedrooms</option>
                                                            <option value="31">31 bedrooms</option>
                                                            <option value="32">32 bedrooms</option>
                                                            <option value="33">33 bedrooms</option>
                                                            <option value="34">34 bedrooms</option>
                                                            <option value="35">35 bedrooms</option>
                                                            <option value="36">36 bedrooms</option>
                                                            <option value="37">37 bedrooms</option>
                                                            <option value="38">38 bedrooms</option>
                                                            <option value="39">39 bedrooms</option>
                                                            <option value="40">40 bedrooms</option>
                                                            <option value="41">41 bedrooms</option>
                                                            <option value="42">42 bedrooms</option>
                                                            <option value="43">43 bedrooms</option>
                                                            <option value="44">44 bedrooms</option>
                                                            <option value="45">45 bedrooms</option>
                                                            <option value="46">46 bedrooms</option>
                                                            <option value="47">47 bedrooms</option>
                                                            <option value="48">48 bedrooms</option>
                                                            <option value="49">49 bedrooms</option>
                                                            <option value="50">50 bedrooms</option>
                                                        </select>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 20px;">
                <label class="HMBeds">How many beds can guests Use?</label>
                <div class="BedsNumber">
                    <span style="padding-right: 20px;">Beds</span>
                    <svg class="SvgMinus" viewBox="0 0 24 24" role="img" aria-hidden="false" aria-label="subtract"
                         focusable="false">
                        <rect height="2" rx="1" width="12" x="6" y="11" ;></rect>
                    </svg>
                    <span style="padding-left: 30px;"> 3</span>
                    <svg class="SvgPlus" viewBox="0 0 24 24" role="img" aria-hidden="false" aria-label="add"
                         focusable="false">
                        <rect height="2" rx="1" width="12" x="6" y="11"></rect>
                        <rect height="12" rx="1" width="2" x="11" y="6"></rect>
                    </svg>
                </div>
            </div>
            <div class="Sleeping">
                <div style="margin-top: 10px; color: #484848;">
                    <h3>Sleeping arrangements</h3>
                </div>
                <div>
                    <div class="_c">
                        Sharing the types of beds in each room can help people understand the sleeping
                        arrangements.
                    </div><br>

                </div>
            </div>
            <div class="addbeds">
                <div class="spacesbeds">
                    <div class="spaces">
                        Common spaces
                    </div>
                    <div class="beds">
                        0 beds
                    </div>
                </div>
                <div class="bedsbtn">
                    <button class="btn btn-light btn-large">Add Beds</button>
                </div>
            </div>
        </div>
        <div class="col col-md-5 d-none d-md-block containleft" style="height:1200px">

        </div>
    </div>