@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/ListingLayout.cshtml";

}
@model ListingViewModel

<div id="3" style="display:flex">
    <div class="col col-12 col-md-7">
        <div class="ContainNumberOfBathRooms col col-11 col-xl-8" style="float: right;">
            <div>
                <div class="ContainQuestion">How many bathrooms?</div>
                <div class="QuestionDescription">
                    Count bathrooms that don’t have a shower or bathtub as a half
                    bathroom.
                </div>
            </div>
            <div class="contain_Guests">
                <div style="display: inline-block;">
                    <div class="first_line">Bathrooms</div>
                </div>
                <div style="display: inline-block;">
                    <button type="button" id="subtract_Children">
                        <span>
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                 role="presentation" focusable="false"
                                 style="fill: none;color: #008489; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                <path d="m2 16h28"></path>
                            </svg>
                        </span>
                    </button>
                    <input asp-for="NumberOfBathRooms" type="text" style="border:none;width:20px ;display: inline;font-size: 18px;" id="number_Children">
                    <button type="button" id="add_Children">
                        <span>
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                 role="presentation" focusable="false"
                                 style="fill: none;color: #008489; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                <path d="m2 16h28m-14-14v28"></path>
                            </svg>
                        </span>
                        </button>
                </div>
            </div>
            
        </div>

        <!-- div will show after Select -->

    </div>
    <div class="col col-md-5 d-none d-md-block ContainRightDiv">

    </div>
</div>
<script>

    var NumberOfBathrooms = 0
    $(function () {
        $('#number_Children').val(NumberOfBathrooms)
    })
    $('#add_Children').click(function () {
        NumberOfBathrooms += 1;
        $('#number_Children').val(NumberOfBathrooms)
    })
    $('#subtract_Children').click(function () {
        
        NumberOfBathrooms -= 1;
        $('#number_Children').val(NumberOfBathrooms)
    })

</script>