@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} <div id="18">
    <div class="wrapper">
        <div class="containleftddiv col col-md-7 col-lg-7">
            <div class="pricetitle">
                Price your space
            </div>
            <div class="pricetip1">
                <div class="tiphead">
                    Increase your chances of getting booked
                </div>
                <div class="tipbody">
                    Set up Smart Pricing to automatically keep your nightly prices competitive as demand in your area
                    changes.
                </div>
            </div>
            <div class="pricetip2">
                <div class="tiphead">
                    Set up the same base or smart price for each night
                </div>
                <div class="tipbody">
                    A 14% guest service fee is added to every host's price—but sometimes the amount will vary, depending
                    on the length of the trip.
                </div>
            </div>
            <div class="baseprice">
                <div class="head" style="color: #00a699;">
                    Base price
                </div>
                <div class="body">
                    This will be your default price.
                </div>
                <div class="basepriceinput">
                    <div class="input-group">
                        <input type="text" class="form-control inbord" aria-label="Large" value="&nbsp; &nbsp;&nbsp;">
                    </div>
                </div>
            </div>
            <div class="smartprice" id="myDIV">
                <div class="Minimumprice">
                    <div class="head" style="color: #00a699;">
                        Minimum price
                    </div>
                    <div class="body">
                        When demand for your space is low, nightly prices will drop to attract more guests to book.
                        What’s the lowest price you’re comfortable with?
                    </div>
                    <div class="basepriceinput">
                        <div class="input-group">
                            <input type="text" class="form-control inbord" aria-label="Large" value="&nbsp; &nbsp;&nbsp;">
                        </div>
                    </div>
                </div>
                <div class="Maximumprice">
                    <div class="head" style="color: #00a699;">
                        Maximum price
                    </div>
                    <div class="body">
                        If demand is high, e.g. if there’s a popular festival in town, what’s the highest price you’re
                        willing to charge guests per night?
                    </div>
                    <div class="basepriceinput">
                        <div class="input-group">
                            <input type="text" class="form-control inbord" aria-label="Large" value="&nbsp; &nbsp;&nbsp;">
                        </div>
                    </div>
                </div>
                <div class="priceconfirm">
                    You’re always in control of your nightly price. By continuing, you agree to turn on Smart Pricing.
                    You can change this later in settings.
                </div>
            </div>
            <div style="margin-top: 37px; margin-bottom: 10px;">
                <hr class="border-light">
            </div>
            <div class="pricebtn">
                <input class="btn" type="button" onclick="smartprice()" id="smartpricebtn"
                       value="Use base price only" />
            </div>

        </div><br>

        <div class="containrightddiv col col-md-4 d-none d-md-block col-lg-5"></div>
    </div>
</div>

    


