@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="14">
    <div class="wrapper">
        <div class="conleftside col col-md-7 col-lg-7">
            <div class="questiontip">
                Two questions to get started with your settings
            </div>
            <div class="containquestion">
                <div class="questionheader">
                    Have you rented out your place before?
                </div>
                <div class="questionanswers">
                    <label class="container">
                        I’m new to this
                        <input type="radio" checked="checked" name="firstquestion">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        I have
                        <input type="radio" name="firstquestion">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><br>
            <div class="containquestion">
                <div class="questionheader">
                    How often do you want to have guests?
                </div>
                <div class="questionanswers">
                    <label class="container">
                        Not sure yet
                        <input type="radio" checked="checked" name="secondquestion">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Part-time
                        <input type="radio" name="secondquestion">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        As often as possible
                        <input type="radio" name="secondquestion">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="conrightside col col-md-3 d-none d-md-block col-lg-5"></div>
    </div>

</div>