@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
   <div id="13">
        <div class="tipheader">
            Successful hosting starts with an accurate calendar
        </div>
        <div class="tipbodyy">
            Guests will book available days instantly. Only get booked when you can host by keeping your calendar and
            availability settings up-to-date.
        </div>
        <div class="tipbodyy">
            Canceling disrupts guests’ plans. If you cancel because your calendar is inaccurate, you’ll be charged a penalty
            fee and the dates won’t be available for anyone else to book.
        </div>
        <div class="confirm" style="display: flex;">
            <div class="containcheckbox">
                <span class="containcheckboxspan">
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </span>
               
            </div>
            <div class="confirmbody">Got it! I’ll keep my calendar up to date.</div>
    
        </div>
       <pre>



</pre>
    </div>