@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <div id="12" style="display:block">
    <div class="tip">
        Here’s how guests will book with you
    </div>
    <div class="wrapper">
        <div class="tipwrapper">
            <div class="containtip">
                <div class="containimg"
                    style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/scenarios-meet-guest@2x-06456ec3d553b120bf78bd0002770b04.png);">
                </div>
                <div class="containtxt">
                    1.Qualified guests find your listing
                </div>
                <div class="tipbody">
                    Anyone who wants to book with you needs to confirm their contact information, provide payment
                    details, and
                    tell you about their trip.
                </div>
            </div>
        </div>

        <div class="tipwrapper">
            <div class="containtip">
                <div class="containimg"
                    style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/ib_settings@2x-34923fa9ea0251e812359fc70df74c0f.png);">
                </div>
                <div class="containtxt">
                    2.You set controls for who can book
                </div>
                <div class="tipbody">
                    To book available dates without having to send a request, guests must agree to your rules and meet
                    all the requirements you set.
                </div>
            </div>
        </div>

        <div class="tipwrapper">
            <div class="containtip">
                <div class="containimg"
                    style="background-image: url(https://a0.muscache.com/airbnb/static/list_your_space/IB-only-message-illo@2x-cd20350a358fbae4f593bf0aeeea5cf9.png);">
                </div>
                <div class="containtxt">
                    3.Once a guest books, you notified
                </div>
                <div class="tipbody">
                    You’ll immediately get a confirmation email with information like why they’re coming, when they’re
                    arriving, and who they’re coming with.
                </div>
            </div>
        </div>


    </div>
    <pre>


    </pre>

  </div>