@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="14" style="display:flex">
    <div class="col col-12 col-md-7">

        <div class="ContainPropertyType col col-11">
            <div>

                <div class="ContainDescription" style="margin-right: 5%;">
                    <div style="padding-bottom: 20px;">
                        <div class="ContainQuestion" style="max-width:550px">Two questions to get started with your settings</div>

                    </div>
                    <div class="TheQuestion">
                        <div class="questionheader">
                            Have you rented out your place before?
                        </div>
                        <div class="questionanswers">
                            <label class="QuestionContainer">
                                I’m new to this
                                <input type="radio" checked="checked" name="firstquestion">
                                <span class="checkmark"></span>
                            </label>
                            <label class="QuestionContainer">
                                I have
                                <input type="radio" name="firstquestion">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="TheQuestion">
                        <div class="questionheader">
                            How often do you want to have guests?
                        </div>
                        <div class="questionanswers">
                            <label class="QuestionContainer">
                                Not sure yet
                                <input type="radio" checked="checked" name="firstquestion">
                                <span class="checkmark"></span>
                            </label>
                            <label class="QuestionContainer">
                                Part-time
                                <input type="radio" name="firstquestion">
                                <span class="checkmark"></span>
                            </label>
                            <label class="QuestionContainer">
                                As often as possible
                                <input type="radio" name="firstquestion">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>




                </div>
            </div>
        </div>

        <!-- div will show after Select -->





    </div>
    <div class="col col-md-5 d-none d-md-block ContainRightDiv">

    </div>
</div>