@model IEnumerable<Airbnb.Models.Location.City>

<div>
    <select id="citySelect" class="form-select" name="CityId" asp-items='new SelectList(Model, "Id", "Name")' onchange="setMapCenter()">
    </select>
</div>