@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    var cities = ViewData["Cities"] as List<City>;
}

<div style="background-color: black; padding: 0 2%; padding-bottom: 35px;">
    <div style="margin-top: 0;">
        <img src="https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560"
             id="launchScreenImg">
    </div>
    <div id="wordUnderImg">
        Made possible by Hosts
    </div>
</div>

<!-- End small screen search -->
<div class="SecondContainer">
    <div id="ExploreDiv">
        <label>Explore nearby</label>
    </div>
    <div id="containTable">
        <table>
            <tr>
                @for (int i = 0; i < 4; i++)
                {
                    <td>
                        <a asp-controller="Search" asp-action="Index" asp-route-cityId="@cities[i].Id">
                            <img src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
                            <span>@cities[i].Name</span>
                        </a>
                    </td>
                }
            </tr>
            <tr>
                @for (int i = 4; i < 8; i++)
                {
                    <td>
                        <a asp-controller="Search" asp-action="Index" asp-route-cityId="@cities[i].Id">
                            <img src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
                            <span>@cities[i].Name</span>
                        </a>
                    </td>
                }
            </tr>
        </table>
    </div>
    
    <div class="containBecomeHostImg">
        <div>
            <div id="firstSentence">Your world is<br /> worth sharing</div>
            <div id="secondSentence">Turn your extra space into your next<br /> opportunity.</div>
            <div id="ContainBecomeHost">
                <a asp-controller="Hosting" class="btn btn-light">Become a Host</a>
            </div>
        </div>
    </div>
</div>
<!-- add location -->
<div id="divLocation" class="location">
    <div id="locationSmallDiv">
        <ul >
            <li>
                <img class="LocationImg"
                     src="https://a0.muscache.com/im/pictures/fc42dde0-36a7-460e-af89-10b5e44e48d8.jpg?im_w=240&im_q=lowq">
                <div class="Place_name">Explore nearby destination</div>
            </li>

        </ul>
    </div>

</div>

@section Scripts {
<script>
    @if(ViewData["ReturnUrl"] != null)
    {
        @:$(document).ready(function () {
        @:$('#login')[0].click();
    @:});
    }
</script>
}