@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div id="bgmodal">
</div>
<div id="contain">
    <div class="input-group d-flex d-lg-none" id="searchAreaSmall">
        <span class="input-group-text border-0" id="searchLogoo" style="background-color: white">
            <i class="fa fa-search" style="color: black;"></i>
        </span>
        <input id="SearchTxtSmall" type="search" class="form-control" placeholder="Where are you going?"
               aria-label="Search" aria-describedby="search-addon" style="border: none;" />
    </div>
    <nav class="nav d-none d-xl-flex" style="margin-bottom: 0;" id=mainnav>
        <div id="logo" class="col col-2  d-none d-lg-block">
            <svg class="d-none d-xl-block" width="102" height="32" fill="currentcolor" id="logoAirbnb">
                <path d="M29.24 22.68c-.16-.39-.31-.8-.47-1.15l-.74-1.67-.03-.03c-2.2-4.8-4.55-9.68-7.04-14.48l-.1-.2c-.25-.47-.5-.99-.76-1.47-.32-.57-.63-1.18-1.14-1.76a5.3 5.3 0 00-8.2 0c-.47.58-.82 1.19-1.14 1.76-.25.52-.5 1.03-.76 1.5l-.1.2c-2.45 4.8-4.84 9.68-7.04 14.48l-.06.06c-.22.52-.48 1.06-.73 1.64-.16.35-.32.73-.48 1.15a6.8 6.8 0 007.2 9.23 8.38 8.38 0 003.18-1.1c1.3-.73 2.55-1.79 3.95-3.32 1.4 1.53 2.68 2.59 3.95 3.33A8.38 8.38 0 0022.75 32a6.79 6.79 0 006.75-5.83 5.94 5.94 0 00-.26-3.5zm-14.36 1.66c-1.72-2.2-2.84-4.22-3.22-5.95a5.2 5.2 0 01-.1-1.96c.07-.51.26-.96.52-1.34.6-.87 1.65-1.41 2.8-1.41a3.3 3.3 0 012.8 1.4c.26.4.45.84.51 1.35.1.58.06 1.25-.1 1.96-.38 1.7-1.5 3.74-3.21 5.95zm12.74 1.48a4.76 4.76 0 01-2.9 3.75c-.76.32-1.6.41-2.42.32-.8-.1-1.6-.36-2.42-.84a15.64 15.64 0 01-3.63-3.1c2.1-2.6 3.37-4.97 3.85-7.08.23-1 .26-1.9.16-2.73a5.53 5.53 0 00-.86-2.2 5.36 5.36 0 00-4.49-2.28c-1.85 0-3.5.86-4.5 2.27a5.18 5.18 0 00-.85 2.21c-.13.84-.1 1.77.16 2.73.48 2.11 1.78 4.51 3.85 7.1a14.33 14.33 0 01-3.63 3.12c-.83.48-1.62.73-2.42.83a4.76 4.76 0 01-5.32-4.07c-.1-.8-.03-1.6.29-2.5.1-.32.25-.64.41-1.02.22-.52.48-1.06.73-1.6l.04-.07c2.16-4.77 4.52-9.64 6.97-14.41l.1-.2c.25-.48.5-.99.76-1.47.26-.51.54-1 .9-1.4a3.32 3.32 0 015.09 0c.35.4.64.89.9 1.4.25.48.5 1 .76 1.47l.1.2c2.44 4.77 4.8 9.64 7 14.41l.03.03c.26.52.48 1.1.73 1.6.16.39.32.7.42 1.03.19.9.29 1.7.19 2.5zM41.54 24.12a5.02 5.02 0 01-3.95-1.83 6.55 6.55 0 01-1.6-4.48 6.96 6.96 0 011.66-4.58 5.3 5.3 0 014.08-1.86 4.3 4.3 0 013.7 1.92l.1-1.57h2.92V23.8h-2.93l-.1-1.76a4.52 4.52 0 01-3.88 2.08zm.76-2.88c.58 0 1.09-.16 1.57-.45.44-.32.8-.74 1.08-1.25.25-.51.38-1.12.38-1.8a3.42 3.42 0 00-1.47-3.04 2.95 2.95 0 00-3.12 0c-.44.32-.8.74-1.08 1.25a4.01 4.01 0 00-.38 1.8 3.42 3.42 0 001.47 3.04c.47.29.98.45 1.55.45zM53.45 8.46c0 .35-.06.67-.22.93-.16.25-.38.48-.67.64-.29.16-.6.22-.92.22-.32 0-.64-.06-.93-.22a1.84 1.84 0 01-.67-.64 1.82 1.82 0 01-.22-.93c0-.36.07-.68.22-.93.16-.3.39-.48.67-.64.29-.16.6-.23.93-.23a1.84 1.84 0 011.6.86 2 2 0 01.21.94zm-3.4 15.3V11.7h3.18v12.08h-3.19zm11.68-8.9v.04c-.15-.07-.35-.1-.5-.13-.2-.04-.36-.04-.55-.04-.89 0-1.56.26-2 .8-.48.55-.7 1.32-.7 2.31v5.93h-3.19V11.69h2.93l.1 1.83c.32-.64.7-1.12 1.24-1.48a3.1 3.1 0 011.81-.5c.23 0 .45.02.64.06.1.03.16.03.22.06v3.2zm1.28 8.9V6.74h3.18v6.5c.45-.58.96-1.03 1.6-1.38a5.02 5.02 0 016.08 1.31 6.55 6.55 0 011.6 4.49 6.96 6.96 0 01-1.66 4.58 5.3 5.3 0 01-4.08 1.86 4.3 4.3 0 01-3.7-1.92l-.1 1.57-2.92.03zm6.15-2.52c.57 0 1.08-.16 1.56-.45.44-.32.8-.74 1.08-1.25.26-.51.38-1.12.38-1.8 0-.67-.12-1.28-.38-1.79a3.75 3.75 0 00-1.08-1.25 2.95 2.95 0 00-3.12 0c-.45.32-.8.74-1.09 1.25a4.01 4.01 0 00-.38 1.8 3.42 3.42 0 001.47 3.04c.47.29.98.45 1.56.45zm7.51 2.53V11.69h2.93l.1 1.57a3.96 3.96 0 013.54-1.89 4.1 4.1 0 013.82 2.44c.35.76.54 1.7.54 2.75v7.24h-3.19v-6.82c0-.84-.19-1.5-.57-1.99-.38-.48-.9-.74-1.56-.74-.48 0-.9.1-1.27.32-.35.23-.64.52-.86.93a2.7 2.7 0 00-.32 1.35v6.92h-3.16zm12.52 0V6.73h3.19v6.5a4.67 4.67 0 013.73-1.89 5.02 5.02 0 013.95 1.83 6.57 6.57 0 011.59 4.48 6.95 6.95 0 01-1.66 4.58 5.3 5.3 0 01-4.08 1.86 4.3 4.3 0 01-3.7-1.92l-.09 1.57-2.93.03zm6.18-2.53c.58 0 1.09-.16 1.56-.45.45-.32.8-.74 1.09-1.25.25-.51.38-1.12.38-1.8a3.42 3.42 0 00-1.47-3.04 2.95 2.95 0 00-3.12 0c-.44.32-.8.74-1.08 1.25a3.63 3.63 0 00-.38 1.8 3.42 3.42 0 001.47 3.04c.47.29.95.45 1.55.45z">
                </path>
            </svg>
            <svg class="d-block d-xl-none" width="30" height="32" fill="currentcolor" id="logo_without_Word">
                <path d="M29.24 22.68c-.16-.39-.31-.8-.47-1.15l-.74-1.67-.03-.03c-2.2-4.8-4.55-9.68-7.04-14.48l-.1-.2c-.25-.47-.5-.99-.76-1.47-.32-.57-.63-1.18-1.14-1.76a5.3 5.3 0 00-8.2 0c-.47.58-.82 1.19-1.14 1.76-.25.52-.5 1.03-.76 1.5l-.1.2c-2.45 4.8-4.84 9.68-7.04 14.48l-.06.06c-.22.52-.48 1.06-.73 1.64-.16.35-.32.73-.48 1.15a6.8 6.8 0 007.2 9.23 8.38 8.38 0 003.18-1.1c1.3-.73 2.55-1.79 3.95-3.32 1.4 1.53 2.68 2.59 3.95 3.33A8.38 8.38 0 0022.75 32a6.79 6.79 0 006.75-5.83 5.94 5.94 0 00-.26-3.5zm-14.36 1.66c-1.72-2.2-2.84-4.22-3.22-5.95a5.2 5.2 0 01-.1-1.96c.07-.51.26-.96.52-1.34.6-.87 1.65-1.41 2.8-1.41a3.3 3.3 0 012.8 1.4c.26.4.45.84.51 1.35.1.58.06 1.25-.1 1.96-.38 1.7-1.5 3.74-3.21 5.95zm12.74 1.48a4.76 4.76 0 01-2.9 3.75c-.76.32-1.6.41-2.42.32-.8-.1-1.6-.36-2.42-.84a15.64 15.64 0 01-3.63-3.1c2.1-2.6 3.37-4.97 3.85-7.08.23-1 .26-1.9.16-2.73a5.53 5.53 0 00-.86-2.2 5.36 5.36 0 00-4.49-2.28c-1.85 0-3.5.86-4.5 2.27a5.18 5.18 0 00-.85 2.21c-.13.84-.1 1.77.16 2.73.48 2.11 1.78 4.51 3.85 7.1a14.33 14.33 0 01-3.63 3.12c-.83.48-1.62.73-2.42.83a4.76 4.76 0 01-5.32-4.07c-.1-.8-.03-1.6.29-2.5.1-.32.25-.64.41-1.02.22-.52.48-1.06.73-1.6l.04-.07c2.16-4.77 4.52-9.64 6.97-14.41l.1-.2c.25-.48.5-.99.76-1.47.26-.51.54-1 .9-1.4a3.32 3.32 0 015.09 0c.35.4.64.89.9 1.4.25.48.5 1 .76 1.47l.1.2c2.44 4.77 4.8 9.64 7 14.41l.03.03c.26.52.48 1.1.73 1.6.16.39.32.7.42 1.03.19.9.29 1.7.19 2.5z">
                </path>
            </svg>
        </div>
        <div class="col col-7 col-xl-7 d-none d-lg-block">
            <div id="contain_Subnav" class="d-none d-md-flex">
                <nav class="nav col-md-8 col-xl-10" id="subnav">
                    <a class="nav-link " style="width: 33.33%;">
                        Location<div class="Select_Location_Nav_Bar"
                                     style="color: rgb(179, 175, 175);">where are you going</div>
                    </a>
                    <a class="nav-link" style="width: 33.33%;">
                        Check in
                        <input type="text" id="CheckIn" name="daterange" placeholder="Checkin" readonly style="border:none"/>
                    </a>


                    <a class="nav-link " style="width: 33.33%; display: inline;position:absolute;right:0">
                        <div style="padding-right: 5px;">
                            <div style="display: inline-block;">
                                <div>Guests</div>
                                <div id="Guest_Num_Navbar">Add guests</div>
                            </div>
                            <div style="display: inline;float: right;">
                                <i id="searchLogosub" class="fa fa-search"></i>
                            </div>
                        </div>
                    </a>
                    <!-- <div id="svg">
                        <i class="fa fa-search"></i>
                    </div> -->
                </nav>
                <div class="location">
                    <div>
                        <ul>
                            <li>
                                <img class="LocationImg"
                                     src="https://a0.muscache.com/im/pictures/fc42dde0-36a7-460e-af89-10b5e44e48d8.jpg?im_w=240&im_q=lowq">
                                <div class="Place_name">Explore nearby destination</div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="guests ">
                    <div class="contain_Guests">
                        <div style="display: inline-block;width: 40%;">
                            <div class="first_line">Adults</div>
                            <div class="second_line">Ages 13 or above</div>
                        </div>
                        <div style="display: inline-block;float: right;">
                            <button disabled id="subtract_Adults" class="subtract_Adults">
                                <span>
                                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                         role="presentation" focusable="false"
                                         style="fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                        <path d="m2 16h28"></path>
                                    </svg>
                                </span>
                            </button>
                            <div style="display: inline;font-size: 20px;" id="number_Adults" class="number_Adults"></div>
                            <button id="add_Adults" class="add_Adults">
                                <span>
                                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                         role="presentation" focusable="false"
                                         style="fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                        <path d="m2 16h28m-14-14v28"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>


                </div>
            </div>


            <div class="container" style="display: flex; justify-content: center;">
                <div class="daterangepickerr"
                     style="width:750px;display: none;z-index: 2000;position: absolute;margin-top: 70px;">
                    <div class="switch">
                        <button id="calender">Calender</button><button id="flexible">
                            I,m
                            flexiple
                        </button>
                    </div>
                    <div style="display: none;text-align: center;" class="flexible_container">
                        <div class="stay_for">
                            <div id="stay_for_span">
                                <span>stay for a</span>
                            </div>
                            <div class="stay_for_buttons">
                                <button id="week" type="button">Weekend</button>
                                <button id="week" type="button">Week</button>
                                <button id="week" type="button">Month</button>
                            </div>
                        </div>
                        <div class="go_in">
                            <div class="go_in_span">
                                <span>Go in</span>
                            </div>
                            <div class="go_in_buttons">
                                <!-- https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg -->
                                <div>
                                    <button>
                                        <div>
                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>April</label>
                                    </button>
                                </div>
                                <div>
                                    <button>
                                        <div>
                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>May</label>
                                    </button>
                                </div>
                                <div>
                                    <button>
                                        <div>
                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>June</label>
                                    </button>
                                </div>
                                <div>
                                    <button>
                                        <div>
                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>July</label>
                                    </button>
                                </div>
                                <div>
                                    <button>
                                        <div>
                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>Aug</label>
                                    </button>
                                </div>
                                <div>
                                    <button>
                                        <div>

                                            <img id="calecderImg"
                                                 src="https://a0.muscache.com/pictures/33e22c88-92bf-47be-847a-98a7e374d78b.jpg">
                                        </div>
                                        <label>Sept</label>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a class="nav-link " href="#">Places to stay</a>
            <a class="nav-link" href="#">Experience</a>
            <a class="nav-link " href="#">Online Experince</a>  -->
            <!-- <input type="text" id="search" class="search" value="start your search" />
            <div id="svgmain">
                 <i class="fa fa-search" id="mainsearch"></i>
            </div> -->
        </div>
        <div class="col col-3 col-xl-3 d-none d-lg-block" style=" text-align: left;" id="containOptions">
            <div style="text-align: center;padding-left: 0px;">
                <input type="button" value="become a host" id="becomeahost">
                <div style="display: inline;" class="d-none d-xl-inline">

                    <div id="optionUser">
                        <!--options logo-->
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="color:#717171; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                            <g fill="none" fill-rule="nonzero">
                                <path d="m2 16h28"></path>
                                <path d="m2 24h28"></path>
                                <path d="m2 8h28"></path>
                            </g>
                        </svg>
                        <!--user logo-->
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="margin-left:10px; color:#717171;  height: 30px; width: 30px; fill: currentcolor;">
                            <path d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="mt-xl-3">
        <img src="https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560"
             id="launchScreenImg">
    </div>
    <div id="wordUnderImg">
        Made possible by Hosts
    </div>
    <!-- location -->

</div>
<!-- small screen search -->
<div id="containSmScr" class="contain-Sm-scr d-lg-none" style="display: none !important;">

    <button type="button" class="NextBtn btn btn-dark btn-lg" style="display: none;width: 180px;position: absolute;bottom: 30px;">Next</button>






    <div class="guests_sm_src">
        <div class="contain_Guests" style="display: flex;">
            <div>
                <div class="first_line">Adults</div>
                <div class="second_line">Ages 13 or above</div>
            </div>
            <div style="float: right;position: absolute;right: 20px;">
                <button disabled id="subtract_Adults" class="subtract_Adults">
                    <span>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                            <path d="m2 16h28"></path>
                        </svg>
                    </span>
                </button>
                <div style="display: inline;font-size: 20px;" id="number_Adults" class="number_Adults"></div>
                <button id="add_Adults" class="add_Adults">
                    <span>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                             role="presentation" focusable="false"
                             style="fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                            <path d="m2 16h28m-14-14v28"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>


    </div>


    <!-- Test Text Search  -->

    <div class="input-group d-flex d-lg-none" id="searchArea_Sm" style="display: none !important; width: 95%;">
        <span class="input-group-text border-0" id="searchLogoo_Sm">
            <i class="fa fa-search" style="color: black;"></i>
        </span>
        <input id="SearchTxt_Sm" type="search" class="form-control" placeholder="Where are you going?"
               aria-label="Search" aria-describedby="search-addon" />
        <button type="button" id="cancel_SM" class="_1modctkn" style="margin-left: 20px;">Cancel</button>
    </div>

    <!-- test gusets -->
    <!-- Contain Top buttons -->
    <div id="containTopButton" style="display: none;">
        <!-- Back Button With circle hover -->
        <div class="hovicon effect-6 d-inline-flex">
            <button aria-label="Close" type="button">
                <span>
                    <svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false"
                         style="height: 20px; width: 20px; display: block; fill: currentcolor;">
                        <path d="m10.8 16c-.4 0-.7-.1-.9-.4l-6.8-6.7c-.5-.5-.5-1.3 0-1.8l6.8-6.7c.5-.5 1.2-.5 1.7 0s .5 1.2 0 1.7l-5.8 5.9 5.8 5.9c.5.5.5 1.2 0 1.7-.2.3-.5.4-.8.4">
                        </path>
                    </svg>
                </span>
            </button>
        </div>
        <button type="button" id="clear_btn" class="btn clear" disabled>clear</button>
        <div>
            <h1 style="padding-left:32px; padding-top: 50px;">Add guests</h1>
        </div>
        <!-- end of Back buttton -->
    </div>

    <div id="containLowerButton" style="margin-top: 280px !important;  display: none;">
        <hr>
        <div class="d-inline-flex">
            <button id="Skip_btn" type="button" class="btn clear">Skip</button>
        </div>

        <!-- Glow search Button -->
        <div class="d-inline" style="padding-left: 42%;">
            <button class="btn-glow">
                <span class="d-inline-flex glow">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                         role="presentation" focusable="false"
                         style="fill: none; height: 14px; width: 14px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                        <g fill="none">
                            <path d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
                            </path>
                        </g>
                    </svg><span style="padding-left: 5px;">Search</span>
                </span>
                <span class="d-inline">

                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                         role="presentation" focusable="false"
                         style="fill: none; height: 14px; width: 14px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                        <g fill="none">
                            <path d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
                            </path>
                        </g>
                    </svg><span style="padding-left: 5px;">Search</span>

                </span>
            </button>
        </div>

    </div>
</div>
<!-- End small screen search -->
<div class="SecondContainer">
    <div id="ExploreDiv">
        <label>Explore nearby</label>
    </div>
    <div id="containTable">
        <table>
            <tr>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
                        <span>Giza</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/7253e011-7c22-48fd-b75d-d0da35372397.jpg?im_q=medq&im_w=240">
                        <span>New Cairo City</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/52e8083e-2de2-446d-a860-534eab250541.jpg?im_q=medq&im_w=240">
                        <span>6th of October city</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/20e74de0-0eb8-4fca-afb8-b111875acdf5.jpg?im_q=medq&im_w=240">
                        <span>Madinaty</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/e639b7ab-aee3-48ee-9743-216684a51319.jpg?im_q=medq&im_w=240">
                        <span>Marina El Alamein</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/585d1e53-e2e1-4baf-a34e-36301dd1e2da.jpg?im_q=medq&im_w=240">
                        <span>Sheikh Zaid City</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/ca3737ef-0faf-46ba-b055-b4a2d99e2cea.jpg?im_q=medq&im_w=240">
                        <span>Dahab</span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="https://a0.muscache.com/im/pictures/7c309a70-bc93-4603-8d3b-9d4cd9bf75b2.jpg?im_q=medq&im_w=240">
                        <span>Siwa Oasis</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="containLiveAnyWhere">
        <div style="padding-top: 45px;">
            <label>Live anywhere</label>
        </div>
        <ul>
            <li style="margin-left: -20px;">
                <a href="#">
                    <div>
                        <img src="https://a0.muscache.com/im/pictures/7d82ca14-56e5-4465-8218-dcfa7d69b6ac.jpg?im_w=480">
                    </div><span>Entire homes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=480">
                    </div><span>Unique stays</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://a0.muscache.com/im/pictures/7f254627-3922-4880-b8fa-545b8551117e.jpg?im_w=480">
                    </div><span>Farm and nature</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://a0.muscache.com/im/pictures/10a638e1-6aff-4313-8033-1275cec83987.jpg?im_w=480">
                    </div><span>Pets allowed</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="containBecomeHostImg">
        <div>
            <div id="firstSentence">Your world is<br /> worth sharing</div>
            <div id="secondSentence">Turn your extra space into your next<br /> opportunity.</div>
            <div id="ContainBecomeHost">
                <input type="button" value="Become a Host" class="btn btn-light">
            </div>
        </div>
    </div>
</div>
<!-- add location -->
<div id="divLocation" class="location">
    <div>
        <ul>
            <li>
                <img class="LocationImg"
                     src="https://a0.muscache.com/im/pictures/fc42dde0-36a7-460e-af89-10b5e44e48d8.jpg?im_w=240&im_q=lowq">
                <div class="Place_name">Explore nearby destination</div>
            </li>

        </ul>
    </div>

</div>

@section Scripts{
    <script>
        var numberOfAdults = 0
        var numberOfChildren = 0
        var numberOfInfants = 0
        var numberOfGuests = numberOfAdults + numberOfChildren
      
        $(function () {
            $('.guests').css('display', 'none')
            $('.location').css('display', 'none')
            $('#bgmodal').css('display', 'none')
            $('#Guest_Num_Navbar').html("Add Guests")
            $('.number_Adults').html(numberOfAdults)

            $('#calender').addClass("focus")
            $(document).mouseup(function (e) {
                var datepickerr = $('.daterangepickerr')
                var Guests = $('.guests')
                var location = $('.location')
                var bgmodal = $('#bgmodal')
                if (!datepickerr.is(e.target) && datepickerr.has(e.target).length === 0 &&
                    !Guests.is(e.target) && Guests.has(e.target).length === 0 &&
                    !location.is(e.target) && location.has(e.target).length === 0
                ) {
                    bgmodal.hide()
                }
                else {
                    bgmodal.css('display', 'block !important')
                }
                if (!datepickerr.is(e.target) && datepickerr.has(e.target).length === 0) {
                    datepickerr.hide()

                } else {
                    datepickerr.css('display', 'block !important')
                }
                if (!Guests.is(e.target) && Guests.has(e.target).length === 0) {
                    Guests.hide()

                } else {
                    Guests.css('display', 'block !important')
                }
                if (!location.is(e.target) && location.has(e.target).length === 0) {
                    location.hide()

                } else {
                    location.css('display', 'block !important')
                }
            })
        });
        $('.stay_for_buttons button').click(function (e) {
            if (!$('.stay_for_Added').length) {
                $('#stay_for_span').append('<span class="stay_for_Added">' + e.target.textContent + '</span>')
                $(this).addClass("stay_for_focus")
            }
            else {
                $('.stay_for_buttons button').removeClass("stay_for_focus")
                $('.stay_for_Added').remove()
                $('#stay_for_span').append('<span class="stay_for_Added">' + e.target.textContent + '</span>')
                $(this).addClass("stay_for_focus")
            }
        })
        $('input[name="daterange"]').daterangepicker();
       


            
        //$('input[name="daterange"]').click(function () {  
        //    $('.daterangepickerr').append($('.daterangepicker'))
        //    $('#calender').addClass('focus')
        //    $('#flexible').removeClass('focus')
        //    $('.daterangepicker').addClass('show')
        //    $('.daterangepickerr').css('display', 'block')
        //    $('#bgmodal').css('display', 'block')
        //})



        $('#calender').click(function () {
            $('#calender').addClass('focus')
            $('#flexible').removeClass('focus')
            $('.daterangepicker').css('display', 'block')
            $('.flexible_container').css('display', 'none')
        })
        $('.go_in_buttons div button').click(function (e) {
            console.log(e)
            dataAdded = '<span class="stay_for_Added">' + e.target.textContent + '</span>';
            if ($(this).hasClass('go_in_buttons_focus')) {
                // if($('.stay_for_Added').text===e.target.textContent){
                //     $('.stay_for_Added').remove()
                $(this).removeClass('go_in_buttons_focus')
                //}
            } else {

                $('.go_in_span').append(dataAdded)
                $(this).addClass('go_in_buttons_focus')

            }
        })
        $('#flexible').click(function () {
            $('.daterangepicker').removeClass('show')
            $('#calender').removeClass('focus')
            $('#flexible').addClass('focus')
            $('.daterangepicker').css('display', 'none')
            $('.flexible_container').css('display', 'block')
        })
        // $('#searchAreaSmall').click(function () {
        //     $('#SearchTxtSmall').addClass('smallsearchbar')
        //     $('.contain-Sm-scr').append($('.location'))
        // })
        $('.table-condensed tbody tr td').css('background-color', 'red')

        $('#Guest_Num_Navbar').click(function () {
            $('.guests').css('display', 'block')
            $('#bgmodal').css('display', 'block')
        })
        $('.Select_Location_Nav_Bar').click(function () {
            $('.location').css('display', 'block')
            $('#bgmodal').css('display', 'block')

        })


        $('.add_Adults').click(function () {

            numberOfAdults++
            numberOfGuests++
            $('#Guest_Num_Navbar').html(numberOfGuests + "guests")

            $('.number_Adults').html(numberOfAdults)
            $('#clear_btn').removeAttr("disabled")
            $('#clear_btn').removeClass("disabled")

            $('.subtract_Adults').removeAttr("disabled")
        })
        $('.subtract_Adults').click(function () {

            if (numberOfAdults == 0) {
                $('.subtract_Adults').attr("disabled")
            } else if (numberOfAdults == 1) {
                numberOfAdults--
                numberOfGuests--
                $('.number_Adults').html(numberOfAdults)
                if (numberOfGuests == 0) {
                    $('#Guest_Num_Navbar').html("Add guests")
                } else if (numberOfGuests != 0) {
                    $('#Guest_Num_Navbar').html(numberOfGuests + "guests")
                }
            }
            else {
                numberOfGuests--;
                numberOfAdults--
                $('.number_Adults').html(numberOfAdults)
                if (numberOfInfants == 0) {
                    $('#Guest_Num_Navbar').html(numberOfGuests + "guests")
                }
            }
        })

        $(window).scroll(function () {
            st = window.pageYOffset
            if (st > 35) {
                $("#mainnav").css('background-color', 'white')
                $('#searchAreaSmall').css('background-color', 'white')
                $('#searchAreaSmall').addClass('fixed_nav_bar')
                $('#mainnav').addClass('fixed_nav_bar')
                $('#logoAirbnb').css('color', '#FF385C')
                $('#logo_without_Word').css('color', '#FF385C')
                $('#becomeahost').css({ 'background-color': 'white', 'color': 'black', 'border': '1px solid black' })
                $('#optionUser').css('border', '1px solid lightgray')
                $('#language_Icon').css('color', 'black')

            }
            else {
                $("#mainnav").css('background-color', 'black')
                $('#mainnav').removeClass('fixed_nav_bar')
                $('#searchAreaSmall').css('background-color', 'black')
                $('#searchAreaSmall').removeClass('fixed_nav_bar')
                $('#logoAirbnb').css('color', 'white')
                $('#logo_without_Word').css('color', 'white')
                $('#becomeahost').css({ 'background-color': 'black', 'color': 'white', 'border': '1px solid white' })
                $('#language_Icon').css('color', 'white')
            }
        })

        // small  search screen
        $('#SearchTxtSmall').click(function () {
            $('#searchAreaSmall').addClass("disappear");
            $('#containSmScr').css("display", "block").append($('#divLocation')
                .removeClass("location").addClass("location_sm"));
            $('#containSmScr').append($('#searchArea_Sm').css("display", "block"));

        });


        //Small screen
        //click on location
        $('#divLocation').daterangepicker({
            opens: 'left',
            defaultDate: null,
        },
            function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });

        $('#divLocation').click(function () {
            $('.NextBtn').css('display', 'block')
            $('#containSmScr').append($('.daterangepicker'))
            $('#calender').addClass('focus')
            $('#flexible').removeClass('focus')
            $('.daterangepicker').addClass('show')
            $('.daterangepickerr').css('display', 'block')
            $('#bgmodal').css('display', 'block')
        })
        $('.NextBtn').click(function () {
            $('.NextBtn').css('display', 'none');
            $('.daterangepicker').removeClass('show')
            $('#searchArea_Sm').remove();
            $('#divLocation').remove();
            $('#containSmScr').append($('#containTopButton').css("display", "flex"));
            //$('#containSmScr').append($('<h1>Add guests</h1>').css("display", "block"));
            $(".guests_sm_src").css("display", "block")
            // $('#containSmScr').append($('.guests').css("display", "block").removeClass("guests").addClass("guests_sm_src"));
            $('#containSmScr').append($('#containLowerButton').css("display", "flex"));
            $('#clear_btn').addClass("disabled");
        })



        // $('#divLocation').click(function () {
        //     $('input[name="daterange"]').click()
        //     // $('#searchArea_Sm').remove();
        //     // $('#divLocation').remove();
        //     // $('#containSmScr').append($('#containTopButton').css("display", "block"));
        //     // //$('#containSmScr').append($('<h1>Add guests</h1>').css("display", "block"));
        //     // $(".guests_sm_src").css("display", "block")
        //     // // $('#containSmScr').append($('.guests').css("display", "block").removeClass("guests").addClass("guests_sm_src"));
        //     // $('#containSmScr').append($('#containLowerButton').css("display", "block"));
        //     // $('#clear_btn').addClass("disabled");

        // });
        $('#cancel_SM').click(function () {
            $('#containSmScr').css("display", "none")
            $('#searchAreaSmall').removeClass("disappear");
        })
        //click on clear button
        $('#clear_btn').click(function () {
            console.log("clicked")
            $('#Skip_btn').removeClass("disabled")
            $('.number_Adults').html(numberOfAdults = 0)
            $('.subtract_Adults').addClass("disabled")
            $('#clear_btn').addClass("disabled")
        });
        [].forEach.call(document.getElementsByClassName('glow'), (el) => {
            el.onmousemove = function moveEvent(e) {
                // e = Mouse click event.
                var rect = e.target.getBoundingClientRect();
                var x = e.clientX - rect.left; //x position within the element.
                var y = e.clientY - rect.top;  //y position within the element.
                let glowing = e.target;
                glowing.style.backgroundImage = `radial-gradient(circle at top ${y}px left ${x}px, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%)`;
            }
        });




    </script>
}