.ContainPropertyType {
    margin-left: 35px;
    margin-top: 65px;
    margin-right: 5%;
}

.ContainQuestion {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.QuestionDescription {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
    margin-top: 10px;
}

.ContainTypeOfPlace {
    margin-bottom: 400px;
}



footer {
    margin-left: 30px;
    margin-right: 30px;
}

.containFooter {
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    display: flex;
    padding-bottom: 15px;
}






.ContainRightDiv {
    background-color: #f7f7f7;
    min-height: 600px
}

@media only screen and (min-width: 992px) {
    .RuleName {
        width: 500px !important;
    }
}

@media only screen and (min-width: 600px) {
    .RuleName {
        width: 300px;
    }
}

.RuleName {
    color: rgb(116, 115, 115) !important;
    cursor: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    min-width: 190px;
}


input {
    display: none;
}

.ContainAllRules {
    float: right;
    margin-bottom: 150px;
}

.ContainOneRole {
    padding: 25px 0px;
    padding-right: 20px;
    display: flex;
    max-width: 500px;
}

    .ContainOneRole label {
        -webkit-box-align: center !important;
        -webkit-box-pack: center !important;
        display: flex !important;
        cursor: pointer !important;
        color: rgb(113, 113, 113) !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(176, 176, 176) !important;
        height: 32px !important;
        width: 32px !important;
        contain: layout !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 50% !important;
    }

.ContainTrueFalse {
    padding-left: 26%;
    display: flex;
    margin-right: 10px !important;
}

.SelectedLabel {
    background-color: black;
    color: white;
}
