html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: Airbnb Cereal App Medium;
}

.header {
    width: 100% !important;
    margin-top: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 2 !important;
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%) !important;
    height: 90px;
}

    .header svg {
        color: #008489 !important
    }

.ContainSVG {
    padding-left: 16px;
    padding-top: 18px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
}

progress {
    border-radius: 0px;
    width: 80%;
    height: 13px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

    progress::-webkit-progress-bar {
        background-color: darkcyan;
        border-radius: 0px 7px 7px 0px;
    }

    progress::-webkit-progress-value {
        background-color: darkcyan;
        border-radius: 0px 7px 7px 0px;
    }

.ContainSVG {
    font-size: 30px;
    font-weight: normal;
    color: rgb(118 118 118);
}

.ContainRightPart.d-md-block {
    background-color: rgb(250, 250, 250) !important;
    height: 940px;
    float: right;
    display: inline-flex;
    min-width:350px;
}

.wrapper {
    display: flex;
}

.question {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25em;
    color: rgb(72, 72, 72);
    padding-top: 2px;
    padding-bottom: 2px;
}

.questiontip {
    margin-top: 10px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.25em;
    color: #aaa;
}

.minNights {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 60px;
    border: 0.1vmin solid #aaa;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
}

.maxNights {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 60px;
    border: 0.1vmin solid #aaa;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control {
    outline: none;
    border: 0;
    font-size: 20px
}

    .form-control:focus {
        outline: 0;
        box-shadow: none;
    }

.vl {
    border-left: 0.5vmin solid #aaa;
    margin-right: 5px;
}

.v2 {
    border-left: 0.8vmin solid #aaa;
    margin-right: 5px;
}

.btn {
    border-radius: 0px;
}

read-only {
    background-color: whitesmoke;
}

@media(min-width:768px) {
    .question {
        margin-top: 100px;
        font-size: 30px;
    }

    .questiontip {
        font-size: 25px;
        margin-left:0px;
    }

    .minNights, .maxNights {
        font-size: 25px;
        height: 70px;
    }

    .form-control {
        font-size: 25px;
    }

    .v2 {
        border-left: 0.6vmin solid #aaa;
    }
}


@media(min-width:1400px) {

    .ContainLeftPart {
        margin-top: 40px;
        margin-left: 200px;
        width: 45%;
    }

    .ContainRightPart {
        width: 55%;
    }
        .ContainRightPart.d-md-block {
            min-width: 950px;
        }

    .question {
        font-size: 40px;
    }

    .questiontip {
        font-size: 25px;
        margin-right: 180px;
    }

    .minNights, .maxNights {
        width: 50%;
    }

    .form-control {
        font-size: 15px;

    }

    .v2 {
        border-left: 0.6vmin solid #aaa;
    }
}
