

* {
    box-sizing: border-box;
}



@media only screen and (max-width: 600px) {
    .ContainPropertyType, .ContainTypeOfPlace, .ContainNumberOfRooms, .ContainListingType {
        float: none;
    }
}

@media only screen and (min-width: 600px) {
    .ContainPropertyType, .ContainTypeOfPlace, .ContainNumberOfRooms, .ContainListingType {
        float: none;
    }
}

@media only screen and (min-width: 992px) {
    .ContainPropertyType, .ContainTypeOfPlace, .ContainNumberOfRooms, .ContainListingType {
        float: right;
    }
}




.header {
    width: 100% !important;
    margin-top: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 2 !important;
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%) !important;
    height: 70px;
}

    .header svg {
        color: #008489 !important
    }

.ContainSVG {
    padding-left: 16px;
    padding-top: 18px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
}

progress {
    border-radius: 0px;
    width: 80%;
    height: 13px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

    progress::-webkit-progress-bar {
        background-color: darkcyan;
        border-radius: 0px 7px 7px 0px;
    }

    progress::-webkit-progress-value {
        background-color: darkcyan;
        border-radius: 0px 7px 7px 0px;
    }

.listingType {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.ContainListingType {
    margin-top: 50px;
}

.PropertyType,
.TypeOfPlace,
.NumberOfRooms {
    font-size: 20px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    margin-bottom: 8px !important;
}

.ContainPropertyType,
.ContainTypeOfPlace,
.ContainNumberOfRooms,
.ContainListingType,
.containFooter {
    padding :0 !important;
    margin-left: 30px !important;
    margin-top: 65px !important;
    margin-right: 5% !important;
}

.ContainTypeOfPlace {
    margin-bottom: 400px;
}

.SelectCategory,
.SelectTypeOfPlace,
.SelectNumberOfRooms {
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 92%;
}

.SelectNumberOfRooms {
    border: none;
}

.SelectCategoryInput,
.SelectTypeOfPlaceInput,
select {
    width: 90%;
    border-radius: 5px;
    height: 60px;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: gray;
}

select {
    border: 1px solid gray !important;
}

.ContainOptions,
.ContainOptionsTypeOfPlace {
    min-width: 280px !important;
    padding: 15px !important;
    position: relative !important;
    text-align: left !important;
    width: 90% !important;
    z-index: 9000 !important;
    border-radius: 4px !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px !important;
    background-color: white;
}


.OptionCategory,
.OptionTypeOfPlace,
.OptionNumberOfRooms {
    font-size: 18px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
}

.OptionDescription,
.OptionDescriptionTypeOfPlace {
    margin-top: 3px;
    font-size: 16px !important;
    line-height: 18px !important;
    color: gray;
}

.ContainOneOption,
.ContainOneOptionTypeOfPlace {
    padding: 15px;
}

    .ContainOneOption:hover,
    .ContainOneOptionTypeOfPlace:hover {
        background-color: #f7f7f7;
    }

.SelectCategoryInput:focus,
.SelectTypeOfPlaceInput {
    outline: none;
}

.DescriptionDivCategory,
.DescriptionDivTypeOfPlace {
    font-size: 14px !important;
    line-height: 16px !important;
    color: rgb(113, 113, 113) !important;
    margin-top: 16px !important;
    max-width: 90%;
}

footer {
    margin-left: 30px;
    margin-right: 30px;
}

.containFooter {
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    display: flex;
    padding-bottom: 15px;
}

.ContainTipsInSmall {
    border-radius: 50%;
    bottom: 90px;
    border: 1px solid lightgray;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    left: 80%;
}

#backsvg {
    padding: 0 !important;
}

.TipTitle {
    font-weight: bolder !important;
    font-size: 20px;
    color: gray;
}

.DescriptionTip {
    padding-top: 12px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: gray;
}

#bgmodal {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.2;
    top: 0;
    overflow: scroll;
    z-index: 2000;
}

.ContainRightDiv {
    background-color: #f7f7f7;
    min-height: 600px
}
.TipsInFullScreen {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 30px;
    display: table;
    max-width: 330px;
    min-width: 200px;
    margin-left: 30px;
    border: 1px solid lightgrey;
    margin-right: 30px;
    margin-top: 100px;
}