body {
}

@media only screen and (min-width: 992px) {
    #city, #state {
        width: 42%;
    }
}

.ContainPropertyLocation {
    margin-left: 35px;
    margin-top: 65px;
    margin-right: 5%;
    /* max-width: 580px !important;
            min-width: 450px !important;
            margin-left: 20%;
            margin-top: 65px; */
}

.ContainQuestionLocation {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Airbnb Cereal App  !important;
    font-size: 26px !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-weight:700 ;
}

.QuestionDescriptionLocation {
    font-family: Airbnb Cereal App !important;
    font-size: 18px !important;
    line-height: 1.375em !important;
    color: #484848 !important;
    margin-top: 10px;
}

.ContainTypeOfPlace {
    margin-bottom: 400px;
}



footer {
    margin-left: 30px;
    margin-right: 30px;
}

.containFooter {
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    display: flex;
    padding-bottom: 15px;
}




.TipTitle {
    font-weight: 700 !important;
    font-size: 20px;
    color: gray;
    font-family: Airbnb Cereal App !important;
}



.ContainRightDiv {
    background-color: #f7f7f7;
    height: 1025px;
}

.ContainBtnUseCurrentLoction {
    margin-left: 50px;
    margin-top: 20px;
}

    .ContainBtnUseCurrentLoction button {
        cursor: pointer !important;
        display: inline-block !important;
        margin: 0px !important;
        position: relative !important;
        text-align: center !important;
        text-decoration: none !important;
        touch-action: manipulation !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 600 !important;
        border-radius: 8px !important;
        border-width: 1px !important;
        border-style: solid !important;
        outline: none !important;
        padding: 7px 15px !important;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
        border-color: rgb(34, 34, 34) !important;
        background: rgb(255, 255, 255) !important;
        color: rgb(34, 34, 34) !important;
        width: 330px !important;
    }

.ConainSpanEnterYourAddress {
    font-size: 14px !important;
    padding: 0px 4px !important;
    color: rgb(113, 113, 113) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: 800 !important;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

hr {
    width: 90%;
}

.ContainLocation {
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 5%;
}

.LocationInput {
    margin-bottom: 7px;
}

.SelectLocation {
    border-radius: 5px;
    width: 90%;
}

select {
    width: 97% !important;
    border-radius: 5px;
    height: 60px;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: gray;
    border: 1px solid lightgray !important;
    box-shadow: none;
}

.SelectLocationInput {
    width: 97%;
    border-radius: 5px;
    height: 60px;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: gray;
    border: 1px solid lightgray !important;
}

    .SelectLocationInput:focus {
        outline: none;
    }

.DescriptionUnderInput {
    font-size: 14px !important;
    line-height: 16px !important;
    color: rgb(113, 113, 113) !important;
    margin-top: 10px !important;
    max-width: 90%;
}

.ContainLocation label {
    color: rgb(34, 34, 34) !important;
    font-size: 16px !important;
    display: block !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 8px !important;
}
.ValidationBoxForDescription {
    position: relative !important;
    display: table;
    table-layout: fixed !important;
    float: right;
    margin-right: 5%;
    margin-top: 50px;
}

.ContainWarningSign {
    height: 100% !important;
    display: table-cell !important;
    vertical-align: top !important;
    border-style: solid !important;
    border-width: 2px 0px 2px 2px !important;
    border-radius: 8px 0px 0px 8px !important;
    padding: 16px 0px 16px 12px !important;
    width: 58px !important;
    background-color: rgb(252, 100, 45) !important;
    border-color: rgb(252, 100, 45) !important;
}

.ContainValidationMessage {
    display: table-cell !important;
    vertical-align: top !important;
    width: 90% !important;
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(235, 235, 235) !important;
    border-style: solid !important;
    border-width: 2px 2px 2px 0px !important;
    border-radius: 0px 8px 8px 0px !important;
    padding: 20px 8px !important;
}

.ContainMessageAndCloseButton {
    display: table !important;
    width: 100% !important;
    border-spacing: 0px !important;
}

.MessageAndCloseButton {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: top !important;
}

.Message {
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.28571em !important;
    color: rgb(72, 72, 72) !important;
}

.ContainCloseButton {
    display: table-cell !important;
    vertical-align: top !important;
}

.CloseButton {
    padding-left: 4px !important;
    padding-right: 8px !important;
    padding-top: 2px !important;
}

.ContainCLoseSpan {
    appearance: none !important;
    display: inline-block !important;
    border-radius: 50% !important;
    border: 0px !important;
    outline: 0px !important;
    margin: -7px !important;
    padding: 7px !important;
    color: buttontext !important;
    background-color: transparent !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
}
