.chats-cr {
    padding: 1rem 0;
}

.chat-item {
    padding: 1rem;
    border-bottom: 1px solid rgb(182, 182, 182);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.chat-item:hover {
    background-color: whitesmoke;
}
.img-cr{
    width: 5rem;
    height: 5rem;
}
.rounded-circle{
    width: inherit;
    height: auto;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}
.dimmed-sm-label{
    font-size: .8rem;
    color: darkgray;
}

.normal-text{
    font-size: 1rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
.input-icon{
    width: 1rem;
}
.sendmsg-cr{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.sendmsg-cr > * {
    height: 2.5rem !important;
}
.sendmsg-cr .send-btn{
    width: fit-content !important;
}
.sendmsg-cr .input-icon {
    height: 2.3rem;
    padding: .1rem;
    width: auto;
    margin: 0 1rem;
    cursor: pointer;
}