@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Hosting.cshtml";
}
<!-- Home -->
<div class="_18hrqvin col-12">Dashboard</div>

<div class="container mt-4">
    <div class="row p-3">
        <div class="card col-12 col-lg-8 mt-2 mr-3">
            <div class="card-body">
                <h4 class="card-title card-title-custom">Requests</h4>
                <p class="card-text card-body-text">Nothing you need to do right now—you're all set!.</p>
            </div>
        </div>
        <div class="card col-12 col-lg-3 d-inline-flex mt-2" style="float: right;">
            <div class="card-body">
                <h4 class="card-title card-title-custom">Notifications</h4>
                <p class="card-text card-body-text">You're all caught up!</p>
            </div>
        </div>
    </div>

    <div class="card col-12 col-lg-8 mt-4">
        <div class="card-body">
            <h4 class="card-title card-title-custom">
                Reservations
            </h4>
            <p class="card-text card-body-text">No upcoming reservations.</p>
        </div>
    </div>

</div>
<!-- End Home  -->
